:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #1E1E1E;
  --color-bg-base: #262626;
  --color-bg-surface: #2E2E2E;
  --color-bg-highlight: #353535;
  --color-fg-shade: #DABC70;
  --color-fg-base: #EBDBB2;
  --color-fg-surface: #FCFAF4;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #804300;
  --color-primary-base: #FF8700;
  --color-primary-fg: #FFC380;
  --color-secondary-bg: #252525;
  --color-secondary-base: #4A4A4A;
  --color-secondary-fg: #6F6F6F;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;

  /** general */
  --font-family: Quicksand;
  --font-size: 1;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1000px;
  --surface-shadow: 10px 10px 0px rgb(128, 67, 0), 20px 20px 0px rgb(105.25, 59.5, 9.25), 30px 30px 0px rgb(82.5, 52, 18.5), 40px 40px 0px rgb(59.75, 44.5, 27.75), 50px 50px 0px rgb(37, 37, 37);
  --surface-borderRadius: 0px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 3;
}
